{% extends 'main/base.html' %}

{% block title %} 
About
{% endblock %}

{% block content %} 
	<div class="about">
		<h1>О микроблоге.</h1>

		<p>
			Это своего рода мои записки сумасшедшего. Здесь мне удается поделится мыслями, событиями и прочим 
			барахлом в моей голове.
		</p>

		<p>
			Потихоньку иду к своей цели. Пару месяцев назад я не представлял как все это работает.
			Сейчас научился работать с БД и писать вьюшки, модели, url-confs и т.д
		</p>

		<p>
			Но, мне есть куда стремиться. Постоянный путь развития. 
		</p>

		<p>
			Ссылки на мои профили: <a href="https://bit.ly/3jg8dNx">Instagram</a>, <a href="https://bit.ly/3gGtBtB">Github</a>.
		</p>

		
	</div>

{% endblock %}