{% extends 'main/base.html' %}

{% block title %} 
Homepage
{% endblock %}

{% block content %} 
	<div class="homepage">
		<h1>Добро пожаловать !</h1>

		<p>
			Это тестовый микроблог на Django 3. Это будет неплохой практикой.
			Да, это скорее всего это быдло код какого-то школьника. 
		</p> 

		<p>
			Но если я не буду его писать, 
			то не стать мне программистом. Все с чего-то начинали. Так пусть и это будет моим началом.
		</p>

		<p>
			Сейчас я сосредоточен в backend разработке на django.   
			После него я планирую изучить js и фреймворк Node JS.  
		</p>

	</div>

{% endblock %}